* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEAEA;
  }
main {
    background: #FFFFFF;
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 70%;
    border-radius: 10px;
}
h1 {
    font-size: 32px;
    text-align: center;
    color: #1B1B1B;
    font-weight: 700;

}
h2 {
    font-size: 25px;
    text-align: center;
    color: #1B1B1B;
    font-weight: 700;
    margin: 40px auto;
}
figcaption{
    font-size: 12px;
    color: #8F8F8F;
    text-align: right;
}
ul,
ol {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 400;
    line-height: 25px;
    list-style-position: inside;
}
li {
    margin-bottom: 15px;
}
img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
figure {
    margin: 40px 30px;
}
p {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}
@media (max-width: 400px) {
    main {
        max-width: 85%;
    }
    ul,
    ol,
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }

}